In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Data Exploration

In [2]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/vis/eclipse_data_enriched_5000_years.csv')

In [3]:
data.head()

,Catalog Number,Calendar Date,Eclipse Time,Delta T (s),Lunation Number,Saros Number,Eclipse Type,Gamma,Eclipse Magnitude,Latitude,...,EII,Year Modulus,HEAS,Decade,Localized ESC,ESC Moving Average,ESC Wide-Scale Moving Average,Eclipse Interval,Cluster,Cluster 6
0,1,-1999 June 12,03:14:51,46438,-49456,5,T,-0.2701,0.992601,6.0N,...,0.662068,1999,0.333667,-2000,1.556657,NaN,NaN,0.333333,0,1
1,2,-1999 December 5,23:45:23,46426,-49450,10,A,-0.2317,0.867659,32.9S,...,0.608567,1999,0.333667,-2000,1.556657,NaN,NaN,0.500000,0,1
2,3,-1998 June 1,18:09:16,46415,-49444,15,T,0.4994,0.951077,46.2N,...,0.498677,1998,0.334000,-2000,1.792195,NaN,NaN,0.500000,0,1
3,4,-1998 November 25,05:57:03,46403,-49438,20,A,-0.9045,0.906871,67.8S,...,0.389974,1998,0.334000,-2000,1.792195,NaN,NaN,0.500000,0,1
4,5,-1997 April 22,13:19:56,46393,-49433,-13,P,-1.4670,0.148987,60.6S,...,NaN,1997,0.334333,-2000,2.004286,NaN,NaN,0.472222,1,0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11898 entries, 0 to 11897
Data columns (total 47 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Catalog Number                   11898 non-null  int64
 1   Calendar Date                    11898 non-null  object
 2   Eclipse Time                     11898 non-null  object
 3   Delta T (s)                      11898 non-null  int64
 4   Lunation Number                  11898 non-null  int64
 5   Saros Number                     11898 non-null  int64
 6   Eclipse Type                     11898 non-null  object
 7   Gamma                            11898 non-null  float64
 8   Eclipse Magnitude                11898 non-null  float64
 9   Latitude                         11898 non-null  object
 10  Longitude                        11898 non-null  object
 11  Sun Altitude                     11898 non-null  int64
 12  Sun Azimuth                      11898 non-null  int64
 13  Path Width (km)                  7698 non-null   object
 14  Central Duration                 7698 non-null   object
 15  Date Time                        11898 non-null  object
 16  Year                             11898 non-null  int64
 17  Month                            11898 non-null  int64
 18  Day                              11898 non-null  int64
 19  Visibility                       11898 non-null  object
 20  Eclipse Latitude                 11898 non-null  float64
 21  Eclipse Longitude                11898 non-null  float64
 22  obliquity                        11898 non-null  float64
 23  Geographical Hemisphere          11898 non-null  object
 24  Daytime/Nighttime                11898 non-null  object
 25  Sun Constellation                11898 non-null  object
 26  Inter-Eclipse Duration           11898 non-null  int64
 27  Visibility Score                 11898 non-null  float64
 28  Eclipse Classification           11898 non-null  object
 29  Duration in Seconds              0 non-null      float64
 30  Moon Distance (km)               11898 non-null  float64
 31  Sun Distance (km)                11898 non-null  float64
 32  Moon Angular Diameter (degrees)  11898 non-null  float64
 33  Sun Angular Diameter (degrees)   11898 non-null  float64
 34  Central Duration Seconds         7604 non-null   float64
 35  Normalized Duration              7604 non-null   float64
 36  Normalized Path Width            7517 non-null   float64
 37  EII                              7517 non-null   float64
 38  Year Modulus                     11898 non-null  int64
 39  HEAS                             11898 non-null  float64
 40  Decade                           11898 non-null  int64
 41  Localized ESC                    11898 non-null  float64
 42  ESC Moving Average               11889 non-null  float64
 43  ESC Wide-Scale Moving Average    11094 non-null  float64
 44  Eclipse Interval                 11898 non-null  float64
 45  Cluster                          11898 non-null  int64
 46  Cluster 6                        11898 non-null  int64
dtypes: float64(20), int64(14), object(13)
memory usage: 4.3+ MB

In [5]:
data.isnull().sum()

Catalog Number                         0
Calendar Date                          0
Eclipse Time                           0
Delta T (s)                            0
Lunation Number                        0
Saros Number                           0
Eclipse Type                           0
Gamma                                  0
Eclipse Magnitude                      0
Latitude                               0
Longitude                              0
Sun Altitude                           0
Sun Azimuth                            0
Path Width (km)                     4200
Central Duration                    4200
Date Time                              0
Year                                   0
Month                                  0
Day                                    0
Visibility                             0
Eclipse Latitude                       0
Eclipse Longitude                      0
obliquity                              0
Geographical Hemisphere                0
Daytime/Nighttime                      0
Sun Constellation                      0
Inter-Eclipse Duration                 0
Visibility Score                       0
Eclipse Classification                 0
Duration in Seconds                11898
Moon Distance (km)                     0
Sun Distance (km)                      0
Moon Angular Diameter (degrees)        0
Sun Angular Diameter (degrees)         0
Central Duration Seconds            4294
Normalized Duration                 4294
Normalized Path Width               4381
EII                                 4381
Year Modulus                           0
HEAS                                   0
Decade                                 0
Localized ESC                          0
ESC Moving Average                     9
ESC Wide-Scale Moving Average        804
Eclipse Interval                       0
Cluster                                0
Cluster 6                              0
dtype: int64

In [6]:
for column in data.columns:
  print(f"Unique values in {column}: {data[column].nunique()}")

Unique values in Catalog Number: 11898
Unique values in Calendar Date: 11898
Unique values in Eclipse Time: 11154
Unique values in Delta T (s): 9190
Unique values in Lunation Number: 11898
Unique values in Saros Number: 204
Unique values in Eclipse Type: 19
Unique values in Gamma: 9814
Unique values in Eclipse Magnitude: 4889
Unique values in Latitude: 1654
Unique values in Longitude: 3448
Unique values in Sun Altitude: 91
Unique values in Sun Azimuth: 361
Unique values in Path Width (km): 754
Unique values in Central Duration: 679
Unique values in Date Time: 11898
Unique values in Year: 5000
Unique values in Month: 12
Unique values in Day: 31
Unique values in Visibility: 34
Unique values in Eclipse Latitude: 1653
Unique values in Eclipse Longitude: 3448
Unique values in obliquity: 5000
Unique values in Geographical Hemisphere: 4
Unique values in Daytime/Nighttime: 2
Unique values in Sun Constellation: 13
Unique values in Inter-Eclipse Duration: 14
Unique values in Visibility Score: 11883
Unique values in Eclipse Classification: 8
Unique values in Duration in Seconds: 0
Unique values in Moon Distance (km): 11842
Unique values in Sun Distance (km): 11677
Unique values in Moon Angular Diameter (degrees): 11842
Unique values in Sun Angular Diameter (degrees): 11677
Unique values in Central Duration Seconds: 678
Unique values in Normalized Duration: 678
Unique values in Normalized Path Width: 753
Unique values in EII: 7517
Unique values in Year Modulus: 3001
Unique values in HEAS: 3001
Unique values in Decade: 501
Unique values in Localized ESC: 684
Unique values in ESC Moving Average: 11151
Unique values in ESC Wide-Scale Moving Average: 11071
Unique values in Eclipse Interval: 17
Unique values in Cluster: 5
Unique values in Cluster 6: 2

# Data Preparation

In [13]:
new_df = data.drop(['Duration in Seconds', 'Central Duration Seconds', 'Normalized Duration'], axis=1)
new_df = new_df.dropna()
new_df.isnull().sum()
print(len(new_df))
new_df.describe()

7009

,Catalog Number,Delta T (s),Lunation Number,Saros Number,Gamma,Eclipse Magnitude,Sun Altitude,Sun Azimuth,Year,Month,...,EII,Year Modulus,HEAS,Decade,Localized ESC,ESC Moving Average,ESC Wide-Scale Moving Average,Eclipse Interval,Cluster,Cluster 6
count,7009.000000,7009.000000,7009.000000,7009.000000,7009.000000,7009.000000,7009.000000,7009.000000,7009.000000,7009.000000,...,7009.000000,7009.000000,7009.000000,7009.000000,7009.000000,7009.000000,7009.000000,7009.000000,7009.000000,7009.0
mean,6350.466115,9926.844628,-16458.405621,92.857041,-0.002897,0.921778,57.733057,180.735198,668.824226,6.514196,...,0.533932,1264.109431,0.578630,664.323013,1.956407,1.958185,1.965484,0.498577,0.031246,1.0
std,3199.496215,11229.883760,16683.696169,44.395529,0.570603,0.044117,21.012626,113.911091,1348.898749,3.455334,...,0.077410,817.751084,0.272584,1348.901888,0.211812,0.195784,0.078749,0.059254,0.304588,0.0
min,808.000000,-6.000000,-45442.000000,4.000000,-0.989200,0.839545,4.000000,0.000000,-1675.000000,1.000000,...,0.329606,0.000000,0.000000,-1680.000000,1.540710,1.556143,1.850810,0.000000,0.000000,1.0
25%,3587.000000,829.000000,-30946.000000,55.000000,-0.497800,0.880699,42.000000,102.000000,-503.000000,4.000000,...,0.479471,586.000000,0.390333,-510.000000,1.757004,1.811511,1.894310,0.500000,0.000000,1.0
50%,6369.000000,4261.000000,-16444.000000,93.000000,-0.004100,0.922316,60.000000,180.000000,670.000000,7.000000,...,0.533120,1170.000000,0.610000,670.000000,1.931560,1.941631,1.951370,0.500000,0.000000,1.0
75%,9112.000000,17156.000000,-2112.000000,131.000000,0.488400,0.962175,76.000000,277.000000,1829.000000,10.000000,...,0.590347,1829.000000,0.804667,1820.000000,2.099681,2.092307,2.043143,0.500000,0.000000,1.0
max,11898.000000,38876.000000,12378.000000,181.000000,0.994600,1.000000,90.000000,360.000000,3000.000000,12.000000,...,0.730625,3000.000000,1.000000,3000.000000,2.808746,2.730850,2.106483,0.972222,3.000000,1.0

In [14]:
new_df.to_csv('eclipse_removed.csv')

In [ ]:
# Impute null values
# For numeric columns, fill missing values with the median
for col in data.select_dtypes(include=['float64', 'int64']):
    data[col].fillna(data[col].median(), inplace=True)

# For categorical columns, fill missing values with the mode (most frequent value)
for col in data.select_dtypes(include=['object']):
    data[col].fillna(data[col].mode()[0], inplace=True)

# Save the imputed dataset to a new CSV file
data.to_csv('eclipse_imputed.csv', index=False)

/usr/local/lib/python3.10/dist-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)